html {
	font-family: 'IBM Plex Mono', monospace;
	padding: 1vw 5vw 0vw 5vw;
	margin: auto
}
h1 {
	font-size: 4.87vw;
	line-height: 7vw;
	margin: 0;
	padding: 2vw 0 1vw
}
.heroparagraph {
	font-size: 1.5vw;
	padding: 0 0 0;
	margin: 0
}
p {
	font-size: 1.5vw;
	margin: auto
}
h2 {
	font-size: 5vw
}
h3 {
	font-size: 3.33vw
}
h4 {
	font-size: 1.7vw;
	line-height: 4vw
}
h5 {
	margin-top: 1vw;
	font-size: 1vw
}
.duration {
	text-align: left;
	margin: 2vw 0 1vw 0;
  font-size: 2vw;
}
.herocta {
	text-align: center;
	margin-top: 5vw
}
a {
	background-color: #000;
	color: #fff;
	font-size: 2.22vw;
	padding: 1.11vw 4.44vw 1.11vw 4.44vw;
	text-decoration: none
}
a:hover {
	background-color: inherit;
	color: #000;
	border: 1px solid #404040
}
.tooltip {
	font-size: 1vw;
	position: relative;
	display: inline-block;
	border-bottom: 2px dotted #404040;
	margin-top: 3vw
}
.sectionheader {
	margin: 10vw 0 2vw 0;
	text-align: center;
	font-size: 4vw
}
.check {
	text-align: center
}
.checkwrapper {
	display: inline-block;
	text-align: left
}
.checktext {
	border-bottom: 1px solid #404040;
	padding: 0;
	margin: 0
}
.footer {
	margin: 10vw 0vw 3vw;
	text-align: center
}
.footertext {
	font-size: 1.3vw
}
.mobilefooteritem {
	display: none
}

@media (max-width: 767px) {
	.checkwrapper {
		display: inline
	}
	.footertext {
		display: none
	}
	.mobilefooteritem {
		display: inline;
		margin-left: 5vw
	}
	.sectionheader {
		font-size: 5vw
	}
	.checktext {
		line-height: 6.66vw
	}
	.heroparagraph {
		font-size: 4vw;
		margin: 5vw 0 10vw
	}
	.tooltip {
		font-size: 3.33vw;
		position: relative;
		display: inline-block;
		border-bottom: 2px dotted #404040;
		margin-top: 5vw;
		cursor: pointer
	}
	h1 {
		font-size: 11.2vw;
		line-height: 12vw
	}
	h2 {
		font-size: 7.5vw
	}
	h3 {
		font-size: 5vw
	}
	h4 {
		font-size: 4vw;
		line-height: 5vw
	}
	h5 {
		font-size: 4vw
	}
	p {
		font-size: 4vw;
		line-height: 6vw
	}
	a {
		font-size: 5vw;
		padding: 2vw 7vw 2vw 7vw
	}
}
